<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" style="color: black"
                    ng-click="expenseAdd.closeModal()">
                Cancel
            </button>
        </div>
        <h1 class="title">Add new expense</h1>
    </ion-header-bar>
    <ion-content class="background-color">
        <div class="list">
            <div class="padding" style="padding-top: 0; padding-bottom: 0;">
                <label id="expenseAdd-cost-label"
                       class="item item-input item-floating-label no-border">
                    <span class="input-label">Cost</span>
                    <div class="row dashed-bottom-border"
                         style="padding-top: 0;
                                padding-left: 0px;">
                        <input type="text" placeholder="Cost"
                               style="padding-left: 5px;
                                      margin-right: 5px;
                                      font-size: 1.5em;
                                      color: #006600;"
                               ng-model="expenseAdd.expense.cost">
                        <span class="label center-line" style="font-size: 1.2em"><b>RON</b></span>
                    </div>
                </label>
                <label id="expenseAdd-description-label"
                       class="item item-input item-floating-label no-border">
                    <span class="input-label">Description</span>
                    <input type="text"
                           placeholder="Description"
                           ng-model="expenseAdd.expense.description"
                           class="background-color dashed-bottom-border"
                           style="font-size: 1.5em; color: #006600; margin-bottom: 20px; padding-left: 5px;">
                    </input>
                </label>
                <expense-contributors contributors="expenseAdd.contributors"></expense-contributors>
                <ion-checkbox id="excludeSelfCbx"
                              ng-model="expenseAdd.excludeSelf"
                              style="">
                    Exclude myself from this expense
                </ion-checkbox>
                <div class="padding" style="margin-top: 0">
                    <button class="button button-block button-positive"
                            style="border: 1px solid #0b57da;"
                            ng-click="expenseAdd.addNewExpense()">
                        Add expense
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>