.no-border {
    border-width: 0px;
}

.thin-border {
    border: 1px solid #afb8bc;
    border-radius: 5px;
    padding: 5px;
}

#expenseAdd-description-label {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    padding-top: 0;
}

#expenseAdd-cost-label {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
}

.center-line {
    height: 34px;
    line-height: 34px;
}

#excludeSelfCbx {
    border-width: 0;
    background-color: #ecf5f9;
}

#excludeSelfCbx .checkbox .checkbox-icon:before {
    border-color: #999999;
}

#excludeSelfCbx .checkbox input:checked + .checkbox-icon:before {
    border-color: #387ef5;
}