.no-border {
    border-width: 0px;
}

.thin-border {
    border-bottom: 1px dashed #afb8bc;
    border-radius: 5px;
    padding: 5px;
}

#expenseAdd-description-label {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    width: 65%;
    margin: auto;
    margin-bottom: 10px;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

#expenseAdd-cost-label {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0;
    color: #afb8bc;
    width: 65%;
    margin: auto;
    margin-bottom: 20px;
}

.item-floating-label .input-label {
    font-size: 0.9em;
    color: #afb8bc;
}

.center-line {
    height: 34px;
    line-height: 34px;
}

#excludeSelfCbx {
    border-width: 0;
    background-color: #ecf5f9;
    padding-top: 10px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 87%;
    font-size: 1.4em;
    font-weight: 500;
}

#excludeSelfCbx .checkbox .checkbox-icon:before {
    border-color: #999999;
}

#excludeSelfCbx .checkbox input:checked + .checkbox-icon:before {
    border-color: #387ef5;
}

.dashed-bottom-border {
    background-image: linear-gradient(to right, #006600 71%, rgba(0, 102, 0, 0) 0%);
    background-position: bottom;
    background-size: 15px 2px;
    background-repeat: repeat-x;
    background-position-x: -1px;
}