<div class="card vertical-margin">
    <div class="item item-text-wrap card-padding-smallScrn">
        <div class="col" style="padding-bottom: 0px;">
            <div class="row" style="margin-bottom: 10px">
                with&nbsp;
                <b>
                    {{ debtDetailCard.userFromId(debtDetailCard.creditor) | displayNameFilter }}
                </b>
            </div>
            <div class="row"
                 style="margin-bottom: 5px;
                 border-top: 1px solid #afb8bc;
                 background-color: #ffd6cc">
                <span>You pay&nbsp;<b>{{ debtDetailCard.totalDebtAmount() }} RON</b>&nbsp;for expenses:</span>
            </div>
            <div class="row debtDetailCard-expense-row"
                 ng-repeat="debt in debtDetailCard.debts">
                {{ debt.expense.description }}
                - {{ debt.amount }} RON
            </div>
            <div class="row"
                 style="margin-top: 10px;
                 margin-bottom: 5px;
                 border-top: 1px solid #afb8bc;
                 background-color: #b3ffb3">
                <span>You receive&nbsp;<b>{{ debtDetailCard.totalCreditAmount() }} RON</b>&nbsp;for expenses:</span>
            </div>
            <div class="row debtDetailCard-expense-row"
                 ng-repeat="debt in debtDetailCard.credits">
                {{ debt.expense.description }} - {{ debt.amount }} RON
            </div>
            <div class="row" style="padding-bottom: 0px;"
                    ng-if="debtDetailCard.totalDebtAmount() >= debtDetailCard.totalCreditAmount()">
                <div class="col" style="margin-top: 13px;">
                    <span>Remaining debt: <b>{{ debtDetailCard.remainingDebt() }} RON</b></span>
                </div>
                <div class="col">
                    <button class="button button-block button-assertive"
                            ng-click="debtDetailCard.settleDebts()"
                            ng-disabled="debtDetailCard.settleButtonDisabled">
                        {{ debtDetailCard.settleButtonText() }}
                    </button>
                </div>
            </div>
            <div class="row" ng-if="debtDetailCard.totalDebtAmount() < debtDetailCard.totalCreditAmount()"
                 style="margin-top: 15px"   >
                <span>Your debt will be cleared once&nbsp;<b>{{ debtDetailCard.userFromId(debtDetailCard.creditor) | displayNameFilter }}</b>&nbsp;has made a settlement.</span>
            </div>
        </div>
    </div>
</div>