<div class="bar bar-subheader bar-calm" style="border: 1px solid #0badda; width: 100%">
    <h1 class="title" ng-click="timeline.scrollToTop()">Timeline</h1>
    <div class="buttons">
        <expense-add></expense-add>
    </div>
</div>
<ion-content class="has-header has-subheader background-color">
    <div class="col smallScrn-no-padding" style="padding-top: 10px">
        <div class="row smallScrn-no-padding">
            <debtor-card style="width: 100%"></debtor-card>
        </div>
        <div class="row smallScrn-no-padding">
            <creditor-card style="width: 100%"></creditor-card>
        </div>
        <div class="row smallScrn-no-padding"
             ng-repeat="pendingDebt in timeline.pendingCredits">
            <approve-settle-card
                    debtor="pendingDebt._id"
                    amount="pendingDebt.amount"
                    style="width: 100%;"></approve-settle-card>
        </div>
        <div class="row smallScrn-no-padding"
             ng-repeat="expense in timeline.expenses">
            <expense-card expense="expense" style="width: 100%"></expense-card>
        </div>
    </div>
    <ion-infinite-scroll
            ng-if="timeline.moreExpensesToLoad()"
            on-infinite="timeline.loadMoreExpenses()"
            distance="15%">
    </ion-infinite-scroll>
</ion-content>