<div class="card vertical-margin">
    <div class="item item-text-wrap card-padding-smallScrn"
    style="padding-bottom: 5px;">
        <div id="expenseCard-col" class="col">
            <div id="timestamp" class="row">
                {{ expenseCard.timeSinceCreation() }}
            </div>
            <div class="row">
                <span>{{ expenseCard.creditorUser | displayNameFilter }} has made a purchase of
                <b>{{ expenseCard.expense.cost }} RON</b>.</span>
            </div>
            <div class="row" style="margin-top: 5px;">
                <span id="description-label">Description</span>
            </div>
            <div id="description" class="row item-text-wrap">
                {{ expenseCard.expense.description }}
            </div>
        </div>
    </div>
</div>