<div class="card vertical-margin"
     style="padding-bottom: 0;
     "
        ng-click="expenseCard.cardClicked()">
    <div class="item item-text-wrap card-padding-smallScrn"
         style="padding-bottom: 5px;
                border: 2px solid #b1d7e7;
                border-bottom: 0px;">
        <div id="expenseCard-col" class="col">
            <div id="timestamp" class="row">
                {{ expenseCard.timeSinceCreation() }}
            </div>
            <div class="row">
                <span>{{ expenseCard.creditorUser | displayNameFilter }} has made a purchase of
                <b>{{ expenseCard.expense.cost }} RON</b>.</span>
            </div>
            <div class="row" style="margin-top: 5px;">
                <span id="description-label">Description</span>
            </div>
            <div id="description" class="row item-text-wrap">
                {{ expenseCard.expense.description }}
            </div>
        </div>
    </div>
    <expense-card-contribution expense="expenseCard.expense"></expense-card-contribution>
</div>