<div id='creditorCard' class="card vertical-margin" ng-if="!creditorCard.hideCard()">
    <div class="item item-text-wrap creditorCard-background card-padding-smallScrn"
         style="border: 1px solid #006600;">
        <div class="col">
            <div class="row" style="font-size: 1.15em;
                                    margin-bottom: 10px;
                                    padding-top: 0px;
                                    border-bottom: 1px solid #006600;">
                You are owed {{ creditorCard.totalCredits }} RON by:
            </div>
            <div class="row" ng-repeat="(key,value) in creditorCard.debtors"
                 style="width: 80%;
                        margin: auto;
                        padding: 7px"
                ng-style="{{ $last ? {'border-bottom': '0px'} : {'border-bottom': '1px solid #b3ffb3'} }}">
                <div class="col-66">
                    {{ creditorCard.userFromId(key) | displayNameFilter }}
                </div>
                <div class="col-33">
                    <span style="font-weight: 600; color: #006600">{{ value }} RON</span>
                </div>
            </div>
        </div>
    </div>
</div>