<div class="card vertical-margin" ng-if="!creditorCard.hideCard()">
    <div class="item item-text-wrap"
         style="padding: 5px 5px 5px 10px">
        <div class="row">
            <div class="col-70" style="line-height: 44px">
                Approve settlement of 500 RON from User
            </div>
            <div class="col-20">
                <button class="button button-balanced"
                        style="width: 95%;">
                    Accept
                </button>
            </div>
            <div class="col-10">
                <button class="button icon ion-ios-close-outline"></button>
            </div>
        </div>
    </div>
</div>