.debtorCard-background {
    background-color: #ffd6cc;
}

@media (max-width: 414px) {
    #settleDebtsBtn-row {
        padding-bottom: 0;
    }
}

#debtorCard {
    box-shadow: 0 3px 10px rgba(102, 0, 0, 0.5);
}