<div id='debtorCard' class="card vertical-margin" ng-if="!debtorCard.hideCard()">
    <div class="item item-text-wrap debtorCard-background card-padding-smallScrn"
         style="padding-bottom: 0px;
                border: 1px solid #660000;">
        <div class="col" style="padding-bottom: 0;">
            <div class="row" style="font-size: 1.15em;
                                    margin-bottom: 15px;
                                    padding-top: 0px;
                                    border-bottom: 1px solid #660000;">
                You owe {{ debtorCard.totalDebts }} RON to:
            </div>
            <div class="row" ng-repeat="(key,value) in debtorCard.creditors"
                 style="margin-left: 20px">
                <div class="col">
                    {{ debtorCard.userFromId(key) | displayNameFilter }}
                </div>
                <div class="col">
                    <b>{{ value }} RON</b>
                </div>
            </div>
            <div id="settleDebtsBtn-row" class="row" style="margin-top: 5px;">
                <settle-debts creditors="debtorCard.creditors"
                              style="width: 100%">
                </settle-debts>
            </div>
        </div>
    </div>
</div>